@import 'antd/dist/antd.css';

p {
  word-wrap: break-word;
}


.ui.button.moreButton {
    border-radius: 18px;
    width: 200px;
    background-color:#3865FE;
  }

  .vinyl {
      width: 300px;
      height: 300px;
      margin-bottom: 25px;
  }

  .vinylReview {
    height: 175px;
    width: 500px;
  }

  .container-fluid {
    margin-Top: 40px;
    /* max-width: 1200px; */
    /* padding: 15px; */
  }

 .content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 70px;
  }

  .home-header {
    font-size: 64px;
  }

  .home-text {
    font-size: 32px;
  }

  /* Login and Logout buttons */

  .button {
    justify-content: center;
    font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif;

  }
  